body{
    background: rgba(0,0,0,0.9);
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
/**********************header************************/
.showcase::after {
    content:'';
    height: 60vh;
    width: 100%;
    background-image: url(../../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    transition: all 1000ms;
}


.content {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 0;
    margin-top: 0px;
    text-align: center;
    transition: all 1000ms;
}
.content2 {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    margin-top: 0px;
    text-align: center;
    border: 2px solid #fff;
    background-color: #333;

}
.content .logo{
    height: 180px;
    width: 180px;
}
.content .title {
    font-size: 2.2rem;
    margin-top: 1rem;
}
.content .text {
    line-height: 1.7;
    margin-top: 1rem;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}
.center {
    text-align: center;
    margin: auto;
}
/***************Menu***********/
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/***************definiendo backgrounds*********/
.bg-light{
    background-color: #fff;
    color: #333;
}

/***************grid-3 principal*********/

.grid-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/**********************Footer***********************/
.bg-dark {
    background-color:  #333;
    color: #f4f4f4;
}
footer {
    padding: 2.2rem;
}
footer p {
    margin: 0;
}
footer a:first-of-type{
    color: rgb(16, 16, 240); 
}
footer a:last-of-type{
    color: rgba(206, 72, 38, 0.911); 
}
footer a:hover{
    color: #fff;
}