body{
    background-image: url(../../images/background.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}
.header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    margin-top: 0px;
    text-align: center;
    border: 2px solid #fff;
    background-color: #333;

}
.header:hover{
    color: #f1f1f1;
}
/*************Menu*********/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/******************Contacto formulario****************/
form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}
h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#button{
    background: #31384A;
    color: #fff;
    padding: 20px; 
}
#button:hover{
    cursor: pointer;
}

@media (max-width:480px) {
    form{
        width: 100%;
    }
}
/***********Footer ******/
.center{
    text-align: center;
    margin: auto;
}
.bg-dark {
    background-color:  rgba(0, 0, 0, 0.4);
    color: #f4f4f4;
}
footer {
    padding: 2.2rem;
}
footer p {
    margin: 0;
}
footer a:first-of-type{
    color: rgb(16, 16, 240); 
}
footer a:last-of-type{
    color: rgba(206, 72, 38, 0.911); 
}
footer a:hover{
    color: #fff;
}
.cont{
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #333;
}